# Vim swap files
*.swp
*.swo
*.swn

# Compiled object files
*.o
*.obj

# Compiled executables
*.out
*.exe
list

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Core dumps
core
core.*

# Editor backup files
*~
*.bak

# OS files
.DS_Store
Thumbs.db
